* {
    margin: 0;
    padding: 0;
    font-family: 'Angkor', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Manrope', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Ysabeau SC', sans-serif;
}

.header {
    width: 100%;
    background-color: rgb(94, 9, 62);
    height: 180px;
}

nav {
    display: flex;
    padding: 1.5% 3%;
    justify-content: space-between;
    align-items: right;
}

nav img {
    width: 140px;
    border-radius: 30%;
}

#nav-links {
    flex: 1;
    text-align: right;
    padding: 2.5% 0 2.5%;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-style: inherit;
    border-radius: 30px;
}

.nav-links ul li a:hover {
    background: white;
    color: rgb(94, 9, 62);
    padding: 6px 15px;
    font-weight: 500;
    transition: .5s;
}

.text-box {
    width: 90%;
    color:rgb(94, 9, 62);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 65px;
}

.text-box h2 {
    font-weight: 700;
}

.text-box .fa {
    color: rgb(94, 9, 62);
    margin: 0 3px 0;
}

.btn {
    display:inline-block;
    text-decoration: none;
    color: rgb(94, 9, 62);
    border: 1.5px solid rgb(94, 9, 62);
    padding: 10px 30px;
    margin-top: 70px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 550;
}

.btn:hover {
    border: 1px solid rgb(94, 9, 62);
    background: rgb(94, 9, 62);
    transition: 1s;
    color: #ffffff;
}

.image {
    padding: 0 23%;
    padding-top: 70px;
}

.image img {
    width: 1000px;
    height: 600px;
}


/*-------------------------------------------------------------------------menu.html--------------------------------------------------------------------------------------*/


.menu {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding: 15px 60px;
    flex-direction: column;
}

.row {
    margin: 70px auto 0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 300px;
}

.row h1 {
    font-size: 46px;
    font-weight: 600;
    display: table-header-group;
    margin-bottom: 20px;
    text-align: contents;
}

.row p {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}


.row .campus-col {
    flex-basis: 31%;
    background: #fccbcb;
    border: 10px;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.campus-col img {
    display: inline-block;
    width: 250px;
    height: 170px;
    padding: 0 10px;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 5px;
    font-size: 20px;
    
}

.campus-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


/*-------------------------------------------------------------------------locations.html--------------------------------------------------------------------------------------*/

.myHeader {
    text-align: center;
    padding-top: 11%;
    padding-bottom: 4%;
}

.myHeader h1 {
    color: rgb(94, 9, 62);
    font-weight: 700;
    font-size: 44px;
}

.location {
    width: 80%;
    margin: auto;
    padding: 50px 0;
    align-items: center;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 70%;
    margin: auto;
    align-items: right;
}

.contact {
    padding: 7% 33%;
    margin-bottom: 90px;
}

.address {
    flex-basis: 98%;
    margin-bottom: 30px;
    display: flex;
    align-items: right;
}

.address .fa {
    font-size: 24px;
    color: rgb(94, 9, 62);
    margin: 10px;
    margin-right: 30px;
}

.address h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #000000;
    font-weight: 600;
}

.phone {
    flex-basis: 48%;
    margin-bottom: 30px;
    display: flex;
    align-items: right;
}

.phone .fa {
    font-size: 24px;
    color: rgb(94, 9, 62);
    margin: 10px;
    margin-right: 30px;
}

.phone h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #000000;
    font-weight: 600;
}

.time {
    flex-basis: 48%;
    margin-bottom: 30px;
    display: flex;
    align-items: right;
}

.time .fa {
    font-size: 24px;
    color: rgb(94, 9, 62);
    margin: 10px;
    margin-right: 30px;
}

.time h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #000000;
    font-weight: 600;
}


/*-------------------------------------------------------------------------contact.html--------------------------------------------------------------------------------------*/


.contact-msg {
    width: 80%;
    margin: auto;
}

.contact-msg-col {
    flex-basis: 48%;
    margin-bottom: 230px;
}

.contact-msg-col div {
    display: flex;
    align-items: center;
    padding: 93% 0;
}

.contact-msg-col input, .contact-msg-col textarea {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    font-weight: 510;
    color: #ccc;
}


/*-------------------------------------------------------------------------franchise.html--------------------------------------------------------------------------------------*/


.franchise {
    padding: 15px 60px;
    margin-bottom: 130px;
}

.description {
    margin: 70px auto 0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 300px;
    flex-direction: column;
}

.description h6 {
    width: 90%;
    padding: 20px 0;
    padding-top: 60px;
    outline: none;
    font-weight: 600;
    color: rgb(94, 9, 62);
    font-size: 30px;
}

.description a {
    display: block;
    float: left;
    margin-right: 4px;
}

.description p {
    width: 90%;
    margin-bottom: 10px;
    outline: none;
    font-weight: 800;
    color: #000;
}

.licensing {
    margin: 70px auto 0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 300px;
    flex-direction: column;
}

.licensing h6 {
    width: 90%;
    padding: 20px 0;
    padding-top: 60px;
    outline: none;
    font-weight: 600;
    color: rgb(94, 9, 62);
    font-size: 30px;
}

.licensing p {
    width: 90%;
    margin-bottom: 10px;
    outline: none;
    font-weight: 800;
    color: #000;
}


/*-----------------------------------------------------------------------------------about.html--------------------------------------------------------------------------------------------*/


.about {
    padding: 100px 60px 200px;
}

.cuisine {
    margin: 700px auto 0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 300px;
    flex-direction: column;
}

.cuisine h6 {
    width: 90%;
    padding: 20px 0;
    padding-top: 60px;
    outline: none;
    font-weight: 600;
    color: rgb(94, 9, 62);
    font-size: 30px;
}

.cuisine p {
    width: 90%;
    margin-bottom: 10px;
    outline: none;
    font-weight: 800;
    color: #000;
} 


/*---------------------------------------------------------------------------footer-----------------------------------------------------------------------------------------*/


.footer {
    background-color: #24262b;
    padding: 10px 0;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.container .row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 1px;
}

.footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 4px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: white;
}




