* {
    margin: 0;
    padding: 0;
    font-family: 'Angkor', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Manrope', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Ysabeau SC', sans-serif;
}

.header {
    width: 100%;
    background-color: rgb(94, 9, 62);
    height: 180px;
    
}

nav {
    display: flex;
    padding: 1.5% 3%;
    justify-content: space-between;
    align-items: right;
}

nav img {
    width: 140px;
    border-radius: 30%;
}

#nav-links {
    flex: 1;
    text-align: right;
    padding: 3% 0;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-style: inherit;
    border-radius: 30px;
}

.nav-links ul li a:hover {
    background: white;
    color: rgb(94, 9, 62);
    padding: 6px 15px;
    font-weight: 520;
    transition: .5s;
}

.text-box {
    width: 90%;
    color:rgb(94, 9, 62);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 65px;
}

.text-box h2 {
    font-weight: 700;
}

.text-box .fa {
    color: rgb(94, 9, 62);
    margin: 0 3px 0;
}

.btn {
    display:inline-block;
    text-decoration: none;
    color: rgb(94, 9, 62);
    border: 1.5px solid rgb(94, 9, 62);
    padding: 10px 30px;
    margin-top: 70px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 550;
}

.btn:hover {
    border: 1px solid rgb(94, 9, 62);
    background: rgb(94, 9, 62);
    transition: 1s;
    color: #ffffff;
}

